.item {
    padding: 12px 20px 10px 20px;
    margin: 8px 0;
    border-radius: 8px;
    display: inline;
    font-family: sofia;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    color: #007423;
}

.item.active {
    color:#007423;
    background-color: #e2f5e1;
}

.item:hover{
    color: #35b15a;
    background-color: #f4fff2;
}

.Navbar{
    padding: 16px 0;
    height: 32px;
    display: inline-block;
    margin: 20px auto 40px auto;
    justify-self: center;
    position: sticky;
}
.body {
    max-width: 1200px;
    margin: 0 auto;
}